{# BASE LOAD #}
{% extends 'base.html.twig' %}

{# TITLE TOP PAGE #}
{% block title %}Lycée{% endblock %}

{# CSS #}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{# BODY HOME PAGE #}
{% block body %}

<h1>Teams by Ranking</h1>

{% endblock %}